body {
    margin: 0;
    padding: 0;
}

.first-screen {
    background: url(img/introFon.png) center center;
    display: block;
    height: 100vh;
}

/* .introFon {
    width: 100vw;
    height: 100vh;
    position: absolute;
} */

.first-screen__header {
    background-color: rgba(22, 57, 255, 0.5);
    height: 80px;
}

.first-screen__header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    height: 80px;
}

.logo {
    height: 50px;
    margin-left: 50px;
}

.first-screen__header__nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.first-screen__block {
    background-color: rgba(22, 57, 255, 0.5);
    width: 300px;
    height: 88vh;
    margin-left: 230px;
    position: absolute;
}

.first-screen__text {
    position: relative;
    margin-left: 300px;
    margin-top: 130px;
}

.first-screen__title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    width: 600px;
}

.first-screen__subtitle {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 500px;
    margin-bottom: 50px;
}

.first-screen__btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    font-family: 'Open Sans', sans-serif;
    transition: .2s ease;
}

.first-screen__btn:hover {
    background-color: #fff;
    color: #000;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.slider {
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider-top {
    display: flex;
    justify-content: space-between;
}

.slider-top__left {
    display: flex;
    align-items: center;
}

.slider-top__left img{
    margin-right: 20px;
}

.slider-top__left p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.slider-top__btn__left {
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid #005BC1;
    color: #005BC1;
    text-decoration: none;
}

.slider-top__btn__right {
    font-size: 20px;
    font-weight: 700;
    transform: rotate(180deg);
    padding: 5px 10px;
    border: 1px solid #005BC1;
    color: #005BC1;
    text-decoration: none;
}

.slider-top__btn__right {
    border-right: none;
}

.slider-top__btn {
    display: flex;
    align-items: center;
}

.slider-cards {
    display: flex;
    justify-content: space-between;
}

.slider-cards__item {
    background: url(img/proj1.png) center center;
    width: 380px;
    height: 240px;
}

.slider-cards__item2 {
    background: url(img/proj2.png) center center;
    width: 380px;
    height: 240px;
}

.slider-cards__item__text {
    background-color: #fff;
    width: 165px;
    height: 100px;
    margin-left: 180px;
    margin-top: 125px;
    padding: 0 10px;
}

.slider-cards__item__text h3 {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: #343434;
}

.slider-cards__item__text p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #343434;
    font-weight: 100;
}

.rent {
    margin-bottom: 50px;
}

.rent-top {
    display: flex;
    justify-content: space-between;
}

.rent-top__left {
    display: flex;
    align-items: center;
}

.rent-top__left img{
    margin-right: 20px;
}

.rent-top__left p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.rent-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rent-left {
    font-size: 14px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
    margin-right: 20px;
}

.rent-right {
    border: 2px solid #005BC1;
    padding: 5px 10px;
}

.rent-right__top {
    display: flex;
    justify-content: space-between;
}

.rent-right__top p {
    font-family: 'Oswald', sans-serif;
    margin-right: 50px;
}

.rent-right__mid__left img {
    width: 200px;
}

.rent-right__mid {
    display: flex;
}

.rent-right__mid__right p {
    font-family: 'Oswald', sans-serif;
}

.rent-right__mid__right li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #343434;
}

.news-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.news-top__left {
    display: flex;
    align-items: center;
}

.news-top__left p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

.news-top__btn {
    text-decoration: none;
    color: #fff;
    background-color: #005BC1;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.news-main {
    display: flex;
}

.news-main__left {
    display: flex;
    width: 450px;
}

.news-main__left img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    padding: 0;
}

.news-main__left__text {
    padding-top: -20px;
    width: 200px;
}

.news-main__left__text__top {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    justify-content: space-between;
}

.news-main__left__text__top h1 {
    color: #343434;
    font-size: 14px;
}

.news-main__left__text__top p {
    color: #979797;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.news-main__left__text__mid p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #343434;
    
}

.news-main__left__text__mid a {
    text-decoration: none;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.news-main__right {
    display: flex;
}

.news-main__right__left {
    margin-left: 20px;
}

.news-main__right__left h1 {
    color: #343434;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.news-main__right__left p {
    color: #343434;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.news-main__right__left__down {
    display: flex;
}

.news-main__right__left__down img {
    width: 125px;
    height: 125px;
}

.news-main__right__left__down p {
    color: #979797;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}